<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.4.3" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="streamdeck-client-csharp" version="0.1.2-preview" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.6.0-preview.18571.3" targetFramework="net472" />
</packages>